.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('https://fastly.picsum.photos/id/149/3454/2288.jpg?hmac=JoHMBHymDuk59QWHK89nquWAXE4Su1mF07OKdvmpN3g');
    background-position: center;
    background-size: cover;
}
.logo-container {
    padding-top: 3px;
    cursor: pointer;
  }
  
  .nav-container {
    display: flex;
  }
  
  .nav-container li {
    margin: 0 10px;
    list-style: none;
  }
  
  .nav-container li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
  }
  